{% block chart_area %}
    {% if has_charts and not no_charts %}
				<iframe src="{{base}}/report/chart/?{{report_querystring}}" id='chart_container' class="auto-height" scrolling="no" style='width:100%;' frameborder="0"></iframe>
        <script>
            $(function() {
                $('iframe#chart_container').iframeAutoHeight();
            });
        </script>
    {% endif %}
{% endblock %}

{% include "html/table.twig" %}

{% if not nodata %}
<script type='text/javascript'>
$(function() {
{% for dataset in DataSets %} 
    {% if not dataset.vertical %}
	$('#result_table_{{loop.index}}').DataTable({
		"scrollX": true,
		bPaginate: true,
		aaSorting: [],
		"sDom": "<'row'<'col-md-6'fi>r>t<'row'<'col-md-6 col-md-offset-6 text-right'p>>"
	});
	$('#result_table_{{loop.index}}').stickyTableHeaders({
		fixedOffset: $('.navbar-fixed-top')
	});
	{% endif %}
	
	{% if dataset.selectable %}
	$('#result_table_{{loop.index}}').on('change','input.selectable',function() {
		//determine selected inputs
		var selected_inputs = $("input.selectable:checked",$(this).closest('table'));
		
		var selected = [];
		
		selected_inputs.each(function() {
			var id = $.trim($(this).closest('tr').find('td.selectable').text());
		
			selected.push(id);
		});
		
		$(".report_link").each(function() {
			var url = $(this).attr('href');
			var query_string = {};
			
			if(url.indexOf('?') != -1) {
				query_string = $.queryStringToJSON(decodeURIComponent($(this).attr('href').split('?')[1]).replace(/\+/g,' '));
				url = url.split('?')[0];
			}
			
			if(selected.length)
				query_string.selected_{{loop.index-1}} = selected;
			else
				delete query_string.selected_{{loop.index-1}};
			
			$(this).attr('href',url+'?'+$.param(query_string));
		});
	})
	.on('click','.filldown',function() {
		var input = $(this).closest('td').find('input.selectable');
	
		$(this).closest('tr').nextAll('tr').find('input.selectable').prop('checked',input.prop('checked'));
		input.trigger('change');
		return false;
	});
	{% endif %}
{% endfor %}
});
</script>
{% endif %}

<div class="row">
    <div class="col-md-12">Query took {{Time}} seconds</div>
</div>

{% block show_query %}
	{% if Query_Formatted %}
		<a data-role="button" data-toggle="collapse" data-target="#query_holder" href="#query_holder">show query</a>
		<div id='query_holder' class='collapse' style='padding-left: 20px;'>
			{{Query_Formatted|raw}}
		</div>
		<script>
		$(function() {
			$('.included_report').each(function() {
				var self = $(this);
				self.css('display','none');

				var name = self.data('name');
				if(name == "Variables") {
					var linktext = "Included Variables";
				}
				else {
					var linktext = "Included Report - "+name;
				}

				var link = $('<a>').attr('href','#').text(linktext).css('display','block').click(function() {
					self.toggle(200);
					return false;
				});

				self.before(link);
			});
		});
		</script>
	{% endif %}
{% endblock %}
