{% extends "html/page.twig" %}

{% block title %}Report List{% endblock %}

{% set breadcrumb = {"Report List": true} %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{base}}/public/css/report_list.css" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
	{#<div id="table_of_contents" class="col-lg-2 col-md-3 hidden-xs hidden-sm bs-sidebar">#}
	{#{% block table_of_contents %}#}
		{#<ul class="nav bs-sidenav">#}
			{#{% for item in reports %}#}
				{#{% include "html/report_list_table_of_contents_item.twig" %}#}
			{#{% endfor %}#}
		{#</ul>#}
	{#{% endblock %}#}
	{#</div>#}

	<div id="report_list" class="col-lg-12 col-md-12 col-xs-12">
        {#<h1 class="visible-phone">All Reports</h1>#}
		{% block report_errors %}
			{% if report_errors is not empty %}
                <div class="well well-small">
                    <div>
                        <img src="{{base}}/public/images/errorIcon.gif" />
                        {{ report_errors|length }} reports contain errors
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#report_errors_holder">See all errors</button>
                    </div>
                    <div class="collapse" id="report_errors_holder">
                        <div class="alert alert-danger alert-block">
                            {% for error in report_errors %}
                                <div>
                                    <strong>{{ error.report }}</strong> - {{ error.exception.message }}
                                    <span style="padding-left: 20px;">
                                        <a href="{{base}}/report/raw/?report={{error.report}}" style="margin-right: 10px;" target="_blank">view source</a>
                                        <a href="{{base}}/edit/?report={{error.report}}" target="_blank">edit</a>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
			{% endif %}
		{% endblock %}

		{% block report_list %}
			<a name="reportlist"></a>
			{% for item in reports %}
			<div class="report_list">
				{% if not loop.first %}
					<a href="#" class="pull-right" style="font-size: 12px; font-weight:normal;">top</a>
				{% endif %}
				{% include "html/report_list_item.twig" %}
			</div>
			{% endfor %}
		{% endblock %}
	</div>
</div>
{% endblock %}
