{% if item.is_dir %}
	{% if h is not defined %}
		{% set h = 2 %}
	{% endif %}
	{% if item.children %}
		<a name="report_{{item.Id}}" href='#'>.</a>
		<h{{h < 5 ? h : 5}} class="{% if not item.Title %}no_title{% endif %}">
			{% if item.Title %}Reports{% else %}{{item.Name}}{% endif %}
			<button type='button' class='btn' data-toggle="collapse" data-target="#report_{{item.Id}}_children"><span class='caret'></span></button>
		</h{{h < 5 ? h : 5}}>
		<div class='collapse {% if item.Title %}in{% endif %}' id='report_{{item.Id}}_children'>
            {% if item.Description %}
                <p>{{ item.Description|raw }}</p>
            {% endif %}
            
			<ul class='nav nav-list well'>
				{% for item in item.children %}
					<li>		
						{% set h = h + 1 %}
						{% include "html/report_list_item.twig" %}
						{% set h = h - 1 %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% elseif not item.ignore %}
	<a class='pull-right' href='{{item.url | replace({"report/html/?":"report/csv/?"})}}' style='margin-left: 5px; opacity:.6;'><img alt='Export CSV File' title='Export CSV File' src='{{base}}/public/images/document-excel-csv.png' /></a>
	{% if item.Id == 'mysql_users_sql' %}
		<a href='{{item.url}}&macros%5Brange%5D%5Bstart%5D=2017-02-10+00%3A00%3A00&macros%5Brange%5D%5Bend%5D=2017-02-16+23%3A59%3A59&macros%5Btable_name1%5D=user_info&macros%5Bwhere_field1%5D=user_id&macros%5Bwhere_condition1_modifier%5D=%3D&macros%5Bwhere_condition1%5D=&macros%5Btable_name2%5D=user_info&macros%5Bwhere_field2%5D=user_id&macros%5Bwhere_condition2_modifier%5D=%3D&macros%5Bwhere_condition2%5D=&macros%5Bwhere_field3%5D=user_id&macros%5Bwhere_condition3_modifier%5D=%3D&macros%5Bwhere_condition3%5D=&macros%5Bselect_columns%5D%5B%5D=created_at&macros%5Bquery_builder%5D=select+*+from+user_info' id='report_{{item.Id}}'>
			{{item.Name}}
			{% if item.stop %}
				<img alt='Stop!' title='Stop!' src='{{base}}/public/images/traffic-light-red.png' />
			{% endif %}
			{% if item.Caution or item.warning %}
				<img alt='Caution!' title='Caution!' src='{{base}}/public/images/prohibition.png' />
			{% endif %}
			{% if item.Variables %}
				<img alt='Configurable' title='Configurable' src='{{base}}/public/images/wrench.png' />
			{% endif %}
			{% if item.Charts %}
				<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
			{% endif %}
			{% if item.Detail %}
				<img alt='Contains drill down links' title='Contains drill down links' src='{{base}}/public/images/drill.png' />
			{% endif %}
			{% if item.expensive %}
				<img alt='Expensive to run' title='Expensive to run' src='{{base}}/public/images/money_dollar.png' />
			{% endif %}
			{% if item.Created and item.Created|slice(0,10)|date('U') > date("-2 weeks")|date('U') %}
				<img alt='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' title='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' src='{{base}}/public/images/new_icon.gif' />
			{% endif %}
		</a>
		{% elseif item.Id == 'mysql_orders_sql' %}
			<a href='{{item.url}}&macros%5Brange%5D%5Bstart%5D=2017-02-16+09%3A59%3A39&macros%5Brange%5D%5Bend%5D=2017-02-16+09%3A59%3A39&macros%5Bfield_name%5D%5B%5D=postcode&macros%5Btable_name%5D=user_info&macros%5Bwhere_field1%5D=user_id&macros%5Bwhere_condition1_modifier%5D=%3D&macros%5Bwhere_condition1%5D=&macros%5Bwhere_field2%5D=user_id&macros%5Bwhere_condition2_modifier%5D=%3D&macros%5Bwhere_condition2%5D=&macros%5Bwhere_field3%5D=user_id&macros%5Bwhere_condition3_modifier%5D=%3D&macros%5Bwhere_condition3%5D=&macros%5Bquery_builder%5D=select+*+from+order_info' id='report_{{item.Id}}'>
				{{item.Name}}
				{% if item.stop %}
					<img alt='Stop!' title='Stop!' src='{{base}}/public/images/traffic-light-red.png' />
				{% endif %}
				{% if item.Caution or item.warning %}
					<img alt='Caution!' title='Caution!' src='{{base}}/public/images/prohibition.png' />
				{% endif %}
				{% if item.Variables %}
					<img alt='Configurable' title='Configurable' src='{{base}}/public/images/wrench.png' />
				{% endif %}
				{% if item.Charts %}
					<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
				{% endif %}
				{% if item.Detail %}
					<img alt='Contains drill down links' title='Contains drill down links' src='{{base}}/public/images/drill.png' />
				{% endif %}
				{% if item.expensive %}
					<img alt='Expensive to run' title='Expensive to run' src='{{base}}/public/images/money_dollar.png' />
				{% endif %}
				{% if item.Created and item.Created|slice(0,10)|date('U') > date("-2 weeks")|date('U') %}
					<img alt='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' title='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' src='{{base}}/public/images/new_icon.gif' />
				{% endif %}
			</a>
	{% elseif item.Id == 'mysql_wallet_sql' %}
		<a href='{{ item.url }}&macros%5Brange%5D%5Bstart%5D=2017-02-10+00%3A00%3A00&macros%5Brange%5D%5Bend%5D=2017-02-16+23%3A59%3A59&macros%5Bfield_name%5D%5B%5D=user_id&macros%5Bwhere_field1%5D=wallet_id&macros%5Bwhere_condition1_modifier%5D=%3D&macros%5Bwhere_condition1%5D=&macros%5Bwhere_field2%5D=wallet_id&macros%5Bwhere_condition2_modifier%5D=%3D&macros%5Bwhere_condition2%5D=&macros%5Bwhere_field3%5D=wallet_id&macros%5Bwhere_condition3_modifier%5D=%3D&macros%5Bwhere_condition3%5D=&macros%5Bquery_builder%5D=select+*+from+wallet' id='report_{{ item.Id }}'>
		{{item.Name}}
		{% if item.stop %}
			<img alt='Stop!' title='Stop!' src='{{base}}/public/images/traffic-light-red.png' />
		{% endif %}
		{% if item.Caution or item.warning %}
			<img alt='Caution!' title='Caution!' src='{{base}}/public/images/prohibition.png' />
		{% endif %}
		{% if item.Variables %}
			<img alt='Configurable' title='Configurable' src='{{base}}/public/images/wrench.png' />
		{% endif %}
		{% if item.Charts %}
			<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
		{% endif %}
		{% if item.Detail %}
			<img alt='Contains drill down links' title='Contains drill down links' src='{{base}}/public/images/drill.png' />
		{% endif %}
		{% if item.expensive %}
			<img alt='Expensive to run' title='Expensive to run' src='{{base}}/public/images/money_dollar.png' />
		{% endif %}
		{% if item.Created and item.Created|slice(0,10)|date('U') > date("-2 weeks")|date('U') %}
			<img alt='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' title='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' src='{{base}}/public/images/new_icon.gif' />
		{% endif %}
		</a>
	{% elseif item.Id == 'mysql_product_sql' %}
		<a href='{{ item.url }}&macros%5Brange%5D%5Bstart%5D=2017-02-15+00%3A00%3A00&macros%5Brange%5D%5Bend%5D=2017-02-15+00%3A00%3A00&macros%5Bfield_name%5D%5B%5D=sku&macros%5Bwhere_field1%5D=product_id&macros%5Bwhere_condition1_modifier%5D=%3D&macros%5Bwhere_condition1%5D=&macros%5Bwhere_field2%5D=product_id&macros%5Bwhere_condition2_modifier%5D=%3D&macros%5Bwhere_condition2%5D=&macros%5Bwhere_field3%5D=product_id&macros%5Bwhere_condition3_modifier%5D=%3D&macros%5Bwhere_condition3%5D=&macros%5Bquery_builder%5D=select+*+from+product_info' id='report_{{ item.Id }}'>
			{{item.Name}}
			{% if item.stop %}
				<img alt='Stop!' title='Stop!' src='{{base}}/public/images/traffic-light-red.png' />
			{% endif %}
			{% if item.Caution or item.warning %}
				<img alt='Caution!' title='Caution!' src='{{base}}/public/images/prohibition.png' />
			{% endif %}
			{% if item.Variables %}
				<img alt='Configurable' title='Configurable' src='{{base}}/public/images/wrench.png' />
			{% endif %}
			{% if item.Charts %}
				<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
			{% endif %}
			{% if item.Detail %}
				<img alt='Contains drill down links' title='Contains drill down links' src='{{base}}/public/images/drill.png' />
			{% endif %}
			{% if item.expensive %}
				<img alt='Expensive to run' title='Expensive to run' src='{{base}}/public/images/money_dollar.png' />
			{% endif %}
			{% if item.Created and item.Created|slice(0,10)|date('U') > date("-2 weeks")|date('U') %}
				<img alt='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' title='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' src='{{base}}/public/images/new_icon.gif' />
			{% endif %}
		</a>

	{% else %}
		<a href='{{item.url}}' id='report_{{item.Id}}'>
			{{item.Name}}
			{% if item.stop %}
				<img alt='Stop!' title='Stop!' src='{{base}}/public/images/traffic-light-red.png' />
			{% endif %}
			{% if item.Caution or item.warning %}
				<img alt='Caution!' title='Caution!' src='{{base}}/public/images/prohibition.png' />
			{% endif %}
			{% if item.Variables %}
				<img alt='Configurable' title='Configurable' src='{{base}}/public/images/wrench.png' />
			{% endif %}
			{% if item.Charts %}
				<img alt='Contains graphs/charts' title='Contains graphs/charts' src='{{base}}/public/images/chart.png' />
			{% endif %}
			{% if item.Detail %}
				<img alt='Contains drill down links' title='Contains drill down links' src='{{base}}/public/images/drill.png' />
			{% endif %}
			{% if item.expensive %}
				<img alt='Expensive to run' title='Expensive to run' src='{{base}}/public/images/money_dollar.png' />
			{% endif %}
			{% if item.Created and item.Created|slice(0,10)|date('U') > date("-2 weeks")|date('U') %}
				<img alt='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' title='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' src='{{base}}/public/images/new_icon.gif' />
			{% endif %}
		</a>
	{% endif %}
{% endif %}
