.number {
	font-size:26px;
	color:#26ac94;
	margin-bottom:5px;
	display:block;
	line-height:28px;
}
.figure-data .fig-box {
	min-height:70px;
}
.green a{color: #19b9b1;}
.green a:hover {color: #126ca0;}
.social-links {
	display:block;
	text-align:center;
	margin-top:3px;
	text-align:center;
}
.social-links i {
	color:#fff;
	background-color:#a0a0a0;
	border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	font-size:11px !Important;
	width:18px;
	height:18px;
	line-height:18px !important;
	margin:3px;
}
.social-links i.fa-facebook {
	font-size:10px !important;
}
.social-links a:hover i {
	background-color:#126ca0;
}

.table-scrollable .max550 {min-width:550px !Important; width:100% !Important}
.table-scrollable .max400 {min-width:400px !Important; width:100% !Important}
.table-scrollable .max650 {min-width:650px !Important; width:100% !Important}
.table-scrollable .max1000 {min-width:900px !Important; width:100% !Important}
.table-scrollable .max800 {min-width:800px !Important; width:100% !Important}

i.icon-wallet {background:url(../img/icon-wallet.png) no-repeat; width:16px; height:16px; color:transparent;}
i.icon-wallet2 {background:url(../img/icon-wallet2.png) no-repeat; width:16px; height:16px; color:transparent; margin-top:2px;}
i.icon-news {background:url(../img/icon-news.png) no-repeat; width:16px; height:16px; color:transparent; margin-top:2px;}
i.icon-blog {background:url(../img/icon-blog.png) no-repeat; width:16px; height:16px; color:transparent;}
i.icon-account-grey {background:url(../img/icon-account-grey.png) no-repeat; width:16px; height:16px; margin-top:2px;}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i.icon-wallet2, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i.icon-wallet2,
.page-sidebar .page-sidebar-menu > li:hover > a > i.icon-wallet2,
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-wallet2 {
background:url(../img/icon-wallet2-hover.png) no-repeat;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i.icon-news, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i.icon-news,
.page-sidebar .page-sidebar-menu > li:hover > a > i.icon-news,
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-news{
background:url(../img/icon-news-hover.png) no-repeat;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > i.icon-account-grey, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > i.icon-account-grey,
.page-sidebar .page-sidebar-menu > li:hover > a > i.icon-account-grey,
.page-sidebar .page-sidebar-menu > li.open > a > i.icon-account-grey{
background:url(../img/icon-account-grey-hover.png) no-repeat;
}

/* bx slider */
.bx-pager.bx-default-pager {
	display:none;
}
.bx-controls-direction a.bx-prev {
	text-indent:-9999px;
	background:url(../img/icon-bx-top.png) no-repeat center;
	top:-10px;
}
.bx-controls-direction a.bx-next {
	text-indent:-9999px;
	background:url(../img/icon-bx-bottom.png) no-repeat center;
	bottom:0;
}
.bx-controls-direction a {
	width:16px;
	height:16px;
	float:left;
	position: absolute;
	display:inline-block;
	border-radius:3px;
}
.bx-controls-direction a.bx-prev:hover {
	background-color:#333;
}
.bx-controls-direction a.bx-next:hover {
	background-color:#333;
}
.bx-wrapper {
	position:relative;
	padding:10px 0px 20px;
	width:100%;
}
.portlet.box > .portlet-title h4 {
	display:inline-block;
	padding-top:15px;
}
.news-slider {
	padding:0;
}
.news-slider .news-head {
	margin-bottom:10px;
	overflow:hidden;
}
.news-slider .news-head i {
	float:left;
	margin-top:5px;
}
.news-slider .news-title {
	display:inline-block;
	margin-left:10px;
	float:left;
}
.news-slider .news-title small {
	display:block;
}
.portlet.purple > .portlet-title > .tools > a.reload {
	background-image: url(../../../global/img/portlet-reload-white-icon.png);
}
.portlet.purple > .portlet-title > .tools > a.fullscreen {
	color:#fff;
}
.user-list {
	padding:0;
	margin:0;
}
.user-list li {
	list-style:none;
	clear:both;
	display:inline-block;
	width:100%;
	  min-height: 46px;
	padding-left:55px;
	position:relative;
}
.user-list li + li {
	margin-top:10px;
}
.user-list li img {
	border-radius:100px;
	-o-border-radius:100px;
	-webkit-border-radius:100px;
	float:left;
	width:40px;
}
.user-list li img:hover {
	opacity:.8;
}
.user-list li .member-cont {
	display:block;
	float:left;
	position:relative;
}
.user-list li h5 {
	margin-bottom:6px;
	font-weight:700;
	margin-top:2px;
}
.user-list li h5 a {color:#777777;}
.user-list li h5 a:hover{color:#126ca0; text-decoration:none;}
.user-list li .view {
	position:absolute;
	right:0px;
	top:0;
}
.user-list li .view:hover i {
	color:#126ca0;
}
.green {
	color:#19b9b1;
}
.user-list li .activty-cont h5 span {
	font-weight:normal;
	font-size:13px;
	color:#b5b3c1;
}
.user-list li .activty-cont h5 {
	margin-bottom:2px;
	font-weight:700;
	line-height:18px;
}
.user-list li a.user-img {position:absolute; left:0;}
.user-list li .activty-cont {
	display:block;
	position:relative;
}
.user-list li .activty-cont .actions i {
	color:#a2a2a2;
}
.user-list li .activty-cont .actions {
	position:absolute;
	right:14px;
	bottom:-2px;
	visibility:hidden;
	opacity:0;
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
a {
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.user-list li:hover .actions {
	visibility:visible;
	opacity:1;
}
.user-list li .activty-cont .actions a:hover i {
	color:#126ca0;
}
.slimScrollBar {
	opacity:0 !Important;
	visibility:hidden;
}
.slimScrollDiv:hover .slimScrollBar {
	opacity:1 !Important;
	visibility:visible;
}
.slimScrollDiv {
	margin:0 -12px;
	padding:0 12px;
}
.ticket-todo input[type=checkbox].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}
.ticket-todo input[type=checkbox].css-checkbox + label.css-label, .inbox-small-cells input[type=checkbox].css-checkbox + label.css-label {
	padding-left:28px;
	height:20px;
	display:block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:19px;
	vertical-align:middle;
	cursor:pointer;
	margin-bottom:0;
}
.inbox-small-cells input[type=checkbox].css-checkbox + label.css-label {padding-left:28px; margin-left:13px;}
.chk-all .inbox-small-cells input[type=checkbox].css-checkbox + label.css-label {margin-left:0 !Important;}
.ticket-todo input[type=checkbox].css-checkbox:checked + label.css-label, .inbox-small-cells input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -21px;
}
.inbox-small-cells  label.css-label {background-image:url(../../../global/img/checkbox.png) !important;}
.ticket-todo label.css-label {
	background-image:url(../../../global/img/todo-checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inbox-small-cells label.css-label {
	background-image:url(../../../global/img/todo-checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ticket-todo {
	background-color:#f7f7f7;
	border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	padding:10px;
	margin-top:5px;
}
.inbox-small-cells{
	border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	padding:10px;
	margin-top:5px;
}
.ticket-head {
	margin-bottom:10px;
}
.ticket-head th {
	border-bottom:2px solid #ccc;
	padding:5px 2px;
	font-size:14px;
	font-weight:700;
}
.ticket-todo td {
	font-size:13px;
	padding:2px;
	color:#acacac;
}

.portlet.box.orange .portlet-title{
border-bottom-color:#fa8564;
background-color:#fa8564;
color:#fff;
}

.portlet.box.orange .portlet-body{
background-color:#fa8564;
color:#fff;
}

.portlet.orange > .portlet-title > .tools > a.reload {
	background-image: url(../../../global/img/portlet-reload-white-icon2.png);
}
.portlet.orange > .portlet-title > .tools > a.fullscreen {
	color:#fff;
}


.event-list li {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
    padding: 10px 30px 10px 10px;
    color: #FFF;
    margin-bottom: 5px;
    border-radius: 3px;
    position: relative;
    list-style: outside none none;
}
.event-list li i {color:#fff; }
.event-close {
    display: inline-block;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    right: 4px;
    top: 4px;
}
.event-list {padding:0; margin:0;}


input.evnt-input {border:none; background-color:transparent; color:#fff; border-bottom:1px solid #fff; border-radius:0; -o-border-radius:0; -webkit-border-radius:0; padding-left:0; }
input.evnt-input:focus {border-bottom:1px solid #fff !Important;border:none;}

.social-view li i.affi-link{position:absolute; top:0px;}
.social-view li span.half {position:relative; width:45%; float:left;}
.social-view li {position:relative; overflow:hidden; padding-bottom:10px !Important;}
.social-view {padding:0px 15px 0 15px !important; color:#fff;}
.social-view a:hover {background-color:none !Important;}
.page-sidebar li .sub-menu.social-view a {padding-bottom:3px !important; padding-top:0px !Important; color:#fff; padding-left:27px !Important;}
.page-sidebar li .sub-menu.social-view a:hover {color:#ACACB4;}

.page-sidebar li .sub-menu.social-view .affi-act {margin-left:25px;}
.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a{border-top:1px solid #3d4957;}

.tabs-overview .nav > li {text-align:center;}

@media (max-width: 1199px) { 
	#daily-visit-chart {height:250px !Important;}
}

@media (max-width: 650px) {
	.tabs-overview .nav > li{width:14%;}
	.tabs-overview .nav > li a{padding:10px !Important;}
	.tabs-overview .nav > li > img{width:80%;}
}

@media (max-width: 767px) { 
	.sub-nav-tab ul li { padding-bottom: 13px !important;}
	.f14 {font-size:13px !Important;}
	.nav-tabs-block.profile > li > a {padding: 15px 20px !Important;}
}

@media (max-width: 450px) {
	.tabs-overview .nav > li a{padding:5px !Important;}
}
@media (max-width: 350px) {
	.tabs-overview .nav > li{width:20%;}
	.tabs-overview .nav > li a{padding:5px !Important;}
}
/* top popup */
.dropdown-menu.extended {
    max-width:320px !important;
    min-width:160px !important;
    top:42px;
    width:300px !important;
    padding:0 10px;
    box-shadow:0 0px 5px rgba(0,0,0,0.1) !important;
    border-radius:5px;
    -webkit-border-radius:5px;
    background:#fff;
    border:none;
    left:-10px;
}
.dropdown-menu.extended li p {
    margin:0;
    padding:10px 0;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.dropdown-menu.extended.inbox li a,.dropdown-menu.extended.tasks-bar li a {
    background:#f1f2f7;
    border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
    margin-bottom:10px;
    float:left;
    width:100%;
}
.dropdown-menu.extended li p {
    margin:0;
    padding:10px 0;
    border-radius:0px;
    -webkit-border-radius:0px;
}
.dropdown-menu.extended li a {
    font-size:12px;
    list-style:none;
	color:#32323a;
}

.dropdown-menu.inbox li a .photo img {
    border-radius:2px 2px 2px 2px;
    -webkit-border-radius:2px 2px 2px 2px;
    float:left;
    height:40px;
    margin-right:10px;
    width:40px;
}
.dropdown-menu.inbox li a .subject {
    display: block;
}
.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}
.dropdown-menu.inbox li a .subject .time {
    font-size:11px;
    font-style:italic;
    font-weight:bold;
    position:absolute;
    right:20px;
}

.dropdown-menu.extended.logout {
	padding:10px;
	max-width:170px !Important;
}
.dropdown-menu.extended.logout a {
	border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
}
.dropdown-menu.extended.logout>li>a i {
    font-size:17px;
	padding-right:10px;
	display:inline;
}

.flag {margin-left:8px; top:-2px; position:relative;}

.nav.nav-tabs-block {background-color:#f1f2f7;}

i.ripple {background:url(../img/icon-ripple.png) no-repeat center top; height:42px; clear:both; display:block;}
i.folder {background:url(../img/icon-folder.png) no-repeat center top; height:44px; clear:both; display:block;}
i.numeric {background:url(../img/icon-numeric.png) no-repeat center top; height:42px; clear:both; display:block;}
.sub-nav-tab ul li {display:inline-block; list-style:none; padding-bottom: 14px;}
.sub-nav-tab ul li a {display: block; margin: 0 15px; color:#767676; text-align: center;}
.sub-nav-tab {border-bottom:1px solid #dddddd;  padding-bottom:10px; text-align:center; margin-bottom:20px; height:72px;}
.sub-nav-tab ul li.active i.ripple, .sub-nav-tab ul li:hover i.ripple{background-position:center -40px;}
.sub-nav-tab ul li.active i.folder, .sub-nav-tab ul li:hover i.folder{background-position:center -50px;}
.sub-nav-tab ul li.active i.numeric , .sub-nav-tab ul li:hover i.numeric {background-position:center -51px;}
.sub-nav-tab ul li:hover a, .sub-nav-tab ul li.active a{color:#1fb5ad;}
.sub-nav-tab ul li.active, .sub-nav-tab ul li:hover {background:url(../img/sub-tab-active.gif) center bottom no-repeat;}

h3.icon-ripple {background:url(../img/icon-ripple1.png) no-repeat; padding:8px 0 10px 40px; font-size:18px;}
h3.icon-folder1 {background:url(../img/icon-folder1.png) no-repeat; padding:12px 0 15px 48px; font-size:18px; display:block;}
h3.icon-numeric1 {background:url(../img/icon-numeric1.png) no-repeat; padding:12px 0 15px 48px; font-size:18px; display:block;}
.f14 {font-size:14px;}

.table td.total {background:#1fb5ad; color:#fff; text-align:right; padding:5px 12px; border-top:none; border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;font-weight:bold;}

th[align="center"] {text-align:center;}
th[align="right"] {text-align:right;}
table tr.bg-black td{color:#fff; background-color:#666666; border-bottom:1px solid #fff;}

.avatar {border-radius:50px !important; -o-border-radius:50px !important; -webkit-border-radius:50px !important;  display:inline-block; overflow:hidden;}
.avatar.user-icon {width:40px; height:40px; background-color:#f6f6f6; text-align:center; line-height:40px;}
.avatar.user-icon i {font-size:16px;}
.user-lists .avatar {margin:5px;}

.red {color:#f94739;}

.pad15 {padding:0 15px 15px !Important;}


.highlight {background-color:#8175c7; padding:5px 8px; display:block; color:#fff; border-radius:5px; text-align:center;}

.bg-white {background-color:#fff;}
.time-left {padding:15px 0 0 0 !important;}
.earning-block {  border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; background-color: #f6f6f6 !important; padding: 15px; font-size:14px; margin-bottom:15px; min-height:160px;}

i.icon-account {display:inline-block; background:url(../img/icon-account.png) no-repeat 0 2px; width:16px; height:16px; margin:0 5px;}

.rank-block {background-color:#f6f6f6; padding:15px; display:block; margin-bottom:15px;border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px;}
.rank-block .rank-body {float:left; width:58%; margin-top:10px;}
.rank-active i{background:url(../img/icon-active-post.png) no-repeat; width:24px; height:24px; position:absolute; z-index:9999; right: 15px;
top: 8px;}
.rank-active {position:relative; width:100px; display:block; float:left;}
.rank-block.light {background:none; padding:0;}

.btn-green-block {background-color: #26a69a; color: #ffffff;border-radius: 5px;display: block; padding:7px; text-align:center; margin-bottom:10px;}
.btn-green-block:hover, .btn-green-block:focus, .btn-green-block:active, .btn-green-block.active {background-color: #1f897f; color:#fff;}

/* mail css */
/*mail inbox*/
.mail-nav {
    margin:15px -16px -16px -16px;
}
.mail-nav li a {
    border-radius:0;
    -webkit-border-radius:0;
    border-top:1px solid #f2f3f6;
    padding:15px;
	background-color:#fff;
    border-right:3px solid rgba(0,0,0,0);
}
.mail-nav>li>a:hover,.mail-nav>li>a:focus {
    background:#fafafa;
    color:#1fb5ad;
    border-right:3px solid #1fb5ad;
}
.mail-nav>li.active>a,.mail-nav>li.active>a:hover,.mail-nav>li.active>a:focus {
    background:#fafafa;
    color:#1fb5ad;
    border-right:3px solid #1fb5ad;
}
.mail-nav>li+li {
    margin-left:0;
    margin-top:0px;
}
.mail-nav i {
    font-size:16px;
    margin-right:10px;
}
.btn-compose {
    background: #1fb5ad none repeat scroll 0 0;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}
.inbox-notification {
    margin-top:-2px;
}
.user-head .inbox-avatar {
    width:65px;
    float:left;
}
.user-head .inbox-avatar img {
    border-radius:4px;
    -webkit-border-radius:4px;
}
.user-head .user-name {
    display:inline-block;
    margin:0 0 0 10px;
}
.user-head .user-name h5 {
    font-size:14px;
    margin-top:15px;
    margin-bottom:0;
    font-weight:300;
}
.user-head .user-name h5 a {
    color:#fff;
}
.user-head .user-name span a {
    font-size:12px;
    color:#87e2e7;
}
a.mail-dropdown {
    background:#80d3d9;
    padding:3px 5px;
    font-size:10px;
    color:#01a7b3;
    border-radius:2px;
    margin-top:20px;
}
.inbox-body {
    padding:20px;
}
.btn-compose {
    background:#1fb5ad;
    padding:12px 0;
    text-align:center;
    width:100%;
    color:#fff;
}
.btn-compose:hover,.btn-compose:focus {
    background:#1ca59e;
    color:#fff;
}
ul.inbox-nav {
    display:inline-block;
    width:100%;
    margin:0;
    padding:0;
}
.inbox-divider {
    border-bottom:1px solid #d5d8df;
}
.inbox-action {
    margin-top:50px;
}
.src-position {
    margin-top:-7px;
}
.mail-src-position {
    margin-top:-3px;
}
ul.labels-info {
    border-bottom:1px solid #f1f2f7;
    margin-bottom:10px;
}
ul.inbox-nav li {
    display:inline-block;
    line-height:45px;
    width:100%;
}
ul.inbox-nav li a {
    color:#6a6a6a;
    line-height:45px;
    width:100%;
    display:inline-block;
    padding:0 20px;
}
ul.inbox-nav li a:hover,ul.inbox-nav li.active a,ul.inbox-nav li a:focus {
    color:#6a6a6a;
    background:#d5d7de;
}
ul.inbox-nav li a i {
    padding-right:10px;
    font-size:16px;
    color:#6a6a6a;
}
ul.inbox-nav li a span.label {
    margin-top:13px;
}
ul.labels-info li h4 {
    padding-top:5px;
    color:#5c5c5e;
    font-size:15px;
    text-transform:uppercase;
}
ul.labels-info li {
    margin:0;
}
ul.labels-info li a {
    color:#6a6a6a;
    border-radius:0;
    padding-left:0;
    padding-right:0;
}
ul.labels-info li a:hover,ul.labels-info li a:focus {
    color:#6a6a6a;
    background:none;
}
ul.labels-info li a i {
    padding-right:10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    margin-bottom:0;
    padding:0 22px;
    color:#9d9f9e;
    font-size:11px;
}
.inbox-head {
    padding:20px;
    background:#41cac0;
    color:#fff;
    border-radius:0 4px 0 0;
    -webkit-border-radius:0 4px 0 0;
    min-height:80px;
}
.inbox-head h3 {
    margin:0;
    display:inline-block;
    padding-top:6px;
    font-weight:300;
}
.inbox-head .sr-input {
    height:40px;
    border:none;
    box-shadow:none;
    padding:0 10px;
    float:left;
    border-radius:4px 0 0 4px;
    color:#8a8a8a;
}
.inbox-head .sr-btn {
    height:40px;
    border:none;
    background:#00a6b2;
    color:#fff;
    padding:0 20px;
    border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
}
.wht-bg {
    background:#fff;
}
.wht-bg h4 {
    font-size:24px;
    color:#a2a2a2;
    font-weight:300;
}
.table-inbox-wrap {
    margin:0 -15px;
}
.mail-checkbox {
    margin-right:10px;
}
.table-inbox {
    margin:0;
}
.table-inbox tr td {
    padding:12px !important;
}
.table-inbox tr td:first-child {
    width:5%;
}
.table-inbox tr td:first-child .icheckbox_minimal {
    margin-left:15px;
}
.table-inbox tr td:hover {
    cursor:pointer;
}
.table-inbox tr td .fa-star.inbox-started,.table-inbox tr td .fa-star:hover {
    color:#f78a09;
}
.table-inbox tr td .fa-star {
    color:#d5d5d5;
}
.table-inbox tr.unread td {
    font-weight:600;
    background:#f7f7f7;
}

.table-inbox tr.unread a {
    color: #32323a;
}
.table-inbox tr a {
    color: #767676;
}

ul.inbox-pagination {
    float:right;
}
ul.inbox-pagination li {
    float:left;
}

.pagination li a {
    color: #32323a;
}
.mail-option {
    display:inline-block;
    margin-bottom:10px;
    width:100%;
}
.mail-option .chk-all {
    float:left;
}
.mail-option .chk-all,.mail-option .btn-group {
    margin-right:5px;
}
.mail-option .chk-all,.mail-option .btn-group a.btn {
    border:1px solid #e7e7e7;
    padding:5px 10px;
    display:inline-block;
    background:#fcfcfc;
    color:#afafaf;
    border-radius:3px !important;
    -webkit-border-radius:3px !important;
}
.inbox-pagination a.np-btn {
    border:1px solid #e7e7e7;
    padding:5px;
    display:inline-block;
    background:#fcfcfc;
    color:#afafaf;
    border-radius:3px !important;
    -webkit-border-radius:3px !important;
}
.mail-option .chk-all input[type=checkbox] {
    margin-top:0;
}
.mail-option .btn-group a.all {
    padding:0;
    border:none;
}
.inbox-pagination a.np-btn {
    margin-left:5px;
}
.inbox-pagination li span {
    display:inline-block;
    margin-top:7px;
    margin-right:5px;
}
.fileinput-button {
    border:1px solid #e6e6e6;
    background:#eeeeee;
}
.inbox-body .modal .modal-body input,.inbox-body .modal .modal-body textarea {
    border:1px solid #e6e6e6;
    box-shadow:none;
}
.btn-send,.btn-send:hover {
    background:#00A8B3;
    color:#fff;
}
.btn-send:hover {
    background:#009da7;
}
.modal-header h4.modal-title {
    font-weight:300;
    font-family:'Open Sans',sans-serif;
}
.modal-body label {
    font-weight:400;
    font-family: 'Open Sans',sans-serif;
}

.compose-mail {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-top: 20px;
}


.compose-mail .compose-options {
    color: #979797;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 7px;
}

.compose-mail input, .compose-mail input:focus {
    border:none;
    padding: 0;
    width: 80%;
    float: left;
}
.compose-mail .form-group {
    border:1px solid #F2F3F6;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

.compose-mail .form-group label {
    line-height: 34px;
    width: 10%;
	font-weight:bold;
	font-size:13px;
    float: left;
    padding-left: 5px;
    margin-bottom: 0;
}

.compose-editor input {
    margin-top: 15px;
}

.compose-editor {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.compose-btn {
    float: left;
    margin-top: 6px;
}

.mail-header h4 {
    font-weight: 300;
}
.mail-nav li a {margin-right:0;}
.mail-sender, .attachment-mail {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
    border-top:1px solid #EFF2F7 ;
    border-bottom:1px solid #EFF2F7 ;
    padding: 10px 0;

}

.mail-sender img {
    width: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.mail-sender .date {
    line-height: 30px;
    margin-bottom: 0;
    text-align: right;
}

.view-mail a, .attachment-mail a:hover {
    color: #35bcb5;
}

.attachment-mail a{
    color: #32323a;
}

.attachment-mail ul li  {
    float: left;
    width: 200px;
    margin-right: 15px;
    margin-top: 15px;
    list-style: none;
}

.attachment-mail ul li a.atch-thumb img {
    width: 200px;
    height: 180px;
    margin-bottom: 10px;
}

.attachment-mail ul li a.name span {
    float: right;
    color: #767676;
}

.wysihtml5-toolbar .btn {border:1px solid #ccc;}
.wysihtml5-toolbar .btn i {color:#333;}

.buzy {background-color: #ff6c60;  border: 2px solid #fff; border-radius: 30px; -o-border-radius: 30px; -webkit-border-radius: 30px;  bottom: -1px; height: 12px; position: absolute;  right: 0;  width: 12px;  z-index: 999;}
.available {background-color: #a9d86e;  border: 2px solid #fff; border-radius: 30px; -o-border-radius: 30px; -webkit-border-radius: 30px;  bottom: -1px; height: 12px;  right: 0;  width: 12px;  z-index: 999;}
.idle {background-color: #fcb322;  border: 2px solid #fff; border-radius: 30px; -o-border-radius: 30px; -webkit-border-radius: 30px;  bottom: -1px; height: 12px; position: absolute;  right: 0;  width: 12px;  z-index: 999;}
.offline {background-color: #a7a7a7;  border: 2px solid #fff; border-radius: 30px; -o-border-radius: 30px; -webkit-border-radius: 30px;  bottom: -1px; height: 12px; position: absolute;  right: 0;  width: 12px;  z-index: 999;}


.mail-option i.fa {color:#afafaf;}
ul.unstyled li {list-style:none;}
ul.unstyled.inbox-pagination {padding:0;}
.chk-all .inbox-small-cells {display:table-cell;}
.chk-all .btn-group{display:table-cell;}
.mail-option ul.unstyled.inbox-pagination  {float:none;}

.attachment-mail ul {padding:0;}

.border-table {border:1px solid #ddd;}
.border-table td, .border-table th {border-left:1px solid #ddd;}

.support-ticket label{margin-left:5px !important;}

.pagination > li > a {background-color: #eff2f7;     border: 1px solid #eff2f7;   float: left;  line-height: 1.42857;  margin-left: 1px;
    padding: 6px 12px;  position: relative; text-decoration: none;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus, .pagination > li.active > a, .pagination > li.active > a:hover {
    background-color: #2eb4ad;
    border-color: #2eb4ad;
    color: #fff;
}	

.pagination > li.active a {background-color: #2eb4ad; border-color: #2eb4ad;}
.ticket-notify  {margin-top:15px;}
.ticket-notify label i {float:left; margin-top:5px; margin-right:5px;}
.ticket-notify label {padding-right:18px; font-size:13px;}

.portlet-title.bg-white {background-color:#fff !Important;}
.simple-table td {padding-bottom:10px;}
.simple-table td strong{font-size:14px;}

.news-list {padding:0; margin:10px 0; border-bottom:1px solid #d8d9df; padding-bottom:10px;}
.news-list li {margin-bottom:10px; position:relative; padding-left:40px; list-style:none; min-height:25px;}
.news-list li i {position:absolute; left:0;}
.news-list li a {color:#b4b3c0; font-size:13px; font-weight:600;}
.news-list li a:hover {color:#126ca0;}

.social-icons li {display:inline; padding-right:6px;margin:0;}
.social-icons li a {width:22px; height:22px; }
.social-icons li a:hover {opacity:.6;}
.social-icons li a.facebook {background:url(../../../global/img/social/fb.png) no-repeat;}
.social-icons li a.twitter {background:url(../../../global/img/social/twit.png) no-repeat;}
.social-icons li a.linkedin {background:url(../../../global/img/social/in.png) no-repeat;}
.social-icons li a.youtube {background:url(../../../global/img/social/yt.png) no-repeat;}
.social-icons li a.pintrest {background:url(../../../global/img/social/pin.png) no-repeat;}
.social-icons li a.myspace {background:url(../../../global/img/social/my.png) no-repeat;}
.news-action {border-top:1px solid #eee; border-bottom:1px solid #eee; padding:10px 0 5px; overflow:hidden; margin-bottom:15px;}

.table1 td{padding:10px;}

/* profile css */

.profile-information .profile-pic {border-radius: 200px; -o-border-radius: 200px; -webkit-border-radius: 200px;border: 10px solid #F1F2F7;}

.profile-information .profile-pic img {
	border-radius: 200px; -o-border-radius: 200px; -webkit-border-radius: 200px;
    width: 100%;
}

.profile-pic.active {position:relative;}
.profile-pic.active i { background-color: #a9d86e; border: 8px solid #fff; border-radius: 50px; -o-border-radius: 50px; -webkit-border-radius: 50px;  bottom: -5px; display: inline-block; height: 34px; position: absolute; right: 5px; width: 34px;}
.profile-information .profile-desk span{
    display: inline-block;
    padding-bottom: 25px;
}
.profile-pic{margin: 0 auto; position: relative; max-width: 180px; margin-bottom:10px;}
.profile-information .user-status{border-top:1px solid #eee; padding-top:15px;}
.profile-information .user-status div {margin-bottom:15px;}
.table.borderno td{padding:10px; border:none;}
.nav-tabs-block.profile > li > a {font-size:14px; padding:15px 40px; margin:0; border-radius:0; -o-border-radius:0; -webkit-border-radius:0; background-color:#e0e1e7;}
.nav-tabs-block.profile li.active a {background-color:#fff;}
.nav-tabs-block.profile{background-color:#e0e1e7;}
.nav-tabs-block.profile > li > a:hover{text-decoration: none;background-color: #1c9ae3;color:#fff;}
.mbtm5 {margin-bottom:5px;}
.table.borderno td {border-top:none;}

.portlet.box.earning .portlet-title{
border-bottom-color:#44acb8;
background-color:#44acb8;
color:#fff;
}

.portlet.box.earning .portlet-body{
background-color:#44acb8;
color:#fff;
}

table.simple-table2 td {padding:8px 5px;}
tr.dark-green td{background-color:#1c96a4;}
.earning .portlet-body.pad5 {padding:5px 5px 15px !Important;}
.earning .portlet-body.pad5 td > img {margin-left:5px;}
.earning table tr.total {border-top:1px solid #fff;}

.profile-btns{background-color:#1fb5ad; text-align:center; padding:10px; border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; display:block; color:#fff; margin-top:10px;}

.profile-information.big .profile-pic img {margin-top: 0; width: 100%;}
.profile-information.big .profile-pic{margin: 0 auto 20px; position: relative; max-width:300px; border: 20px solid #f1f2f7; border-radius:1000px; -o-border-radius:1000px;-webkit-border-radius:1000px;}

.scroll-inside{padding:15px 20px 15px 15px; background-color:#f1f2f7;}
.privacy-content p {margin-bottom:25px; line-height:20px;}
.privacy-content h5 {margin-bottom:0; color:#767676; font-weight:600; margin-bottom:3px;}

.reminder-list li {color:#b4b3c0; display:block; list-style:none; padding-left:25px; margin-bottom:10px; position:relative; }
.reminder-list li a.reminder {color:#b4b3c0; font-weight:600; display:inline-block; margin-bottom:5px;}
.reminder-list li a.reminder i {position:absolute; left:0px; top:5px;}
.reminder-list {padding:0; margin:0;}
.reminder-list li .remind-act {visibility:hidden; opacity:0;}
.reminder-list li:hover .remind-act {visibility:visible; opacity:1;}
.remind-act {position:absolute; bottom:0; right:0; width:100px; text-align:right;}
.time-dt {display:block; margin-bottom:10px;}
.reminder-list li:hover a.reminder {color:#337ab7;}

.chking-account-row {background-color:#f6f6f6; padding:10px 12px; border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.chking-account-row + .chking-account-row {margin-top:10px;}

/* popup video */
#myModal {margin-top:10%;}
#myModal .css-label {font-size:14px; margin-left:5px;}
#myModal .inbox-small-cells{margin-top:0; padding-top:0; margin-bottom:5px;}

.rank-block .rank-body {margin-left:0;}
.rank-body {margin-left:20%;}
.level-heading {border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; background-color:#f6f6f6; border:none !Important;}
.btm-border {border-bottom:1px solid #ddd;}

.tabs-overview .nav.ranks > li {width:9%;}
.tabs-overview .nav.ranks > li a{text-align:center;}
.tabs-overview .nav.ranks > li a img{display:inline-block;}

.white-box {border-radius:5px; background-color:#fff; padding:10px 15px;}
.white-box h4 {margin-bottom:5px;}

.share-links li{list-style:none; font-size:14px; margin-bottom:8px; overflow:hidden;}
.share-links li i {margin-right:5px;font-size:18px !Important;}
.share-links li i.fb {color:#487cb5;}
.share-links li i.twit{color:#59b3e7;}
.share-links li i.utube{color:#cf3427;}
.share-links li i.in{color:#007ab9;}
.share-links li i.snapchat{color:#c1be05;}
.share-links li i.pin{color:#bd081c;}
.share-links li i.insta{color:#b88d72;}
.share-links li a {color:#333; float:left; width:50%;}
.share-links li a:hover {color:#3175af;}
.share-links{padding:0;}

.link-action {float:left; margin-left:30px;}
.link-action span.half {margin:0 15px;}
.link-action span.half i {font-size:16px !Important;}


.pro-busi-tabs {border-bottom:1px solid #dddddd; margin-bottom:15px; text-align:center;height: 38px;}
.pro-busi-tabs li {list-style:none; display:inline-block; margin:0 10px;}
.pro-busi-tabs li a {color:#767676; font-size:16px; padding:4px 5px 14px; display:block;}
.pro-busi-tabs li.active a,.pro-busi-tabs li a:hover {color:#32d2c9;}
.pro-busi-tabs li.active{background:url(../img/li-active-arrow.png) no-repeat center 37px; padding-bottom:3px;}