/*pricing table*/
.price-head {
    padding:10px 0 50px;
}
.price-head h1 {
    font-size:32px;
    font-weight:normal;
    color:#1fb5ad;
}
.pricing-table {
	display:inline-table;
    background:#F1F2F7;
    text-align:center;
	width:15%;
    padding:0 0 15px 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.pricing-table + .pricing-table {margin-left:5px}
.pricing-table.most-popular {
    position:relative;
}
.most-popular {
    background:#f1f2f7;
    color:#7d7d7d;
}
.most-popular .pricing-head {
    background:#1fb5ad;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    position:relative;
    height:170px;
}
.most-popular .pricing-quote,.most-popular ul li i {
    color:#1fb5ad;
}
.most-popular ul li {
}
.most-popular .price-actions .btn {
    background:#1fb5ad !important;
    cursor:pointer;
}
.pricing-table .price-actions .btn {
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:#7d7d7d;
    color:#fff;
	 font-size: 16px;
    font-weight: 600;
	margin:0 10px;
	padding:15px 8px;
	display:block;
    border:none;
    box-shadow:none;
    text-shadow:none;
    cursor:pointer;
}
.pricing-table .price-actions .btn:hover {background-color:#126ca0;}
.pricing-table h3 {font-weight:600;}
.prem-pro span {display:block; padding:5px 0;}
ul.list-unstyled li.prem-pro{min-height:108px;}
ul.list-unstyled li.rb{min-height:58px; margin-top:37px;}
ul.list-unstyled li.pack {min-height:70px;}
ul.list-unstyled li.points {min-height:66px;}
ul.list-unstyled li.amount{font-size:14px; font-weight:bold; margin-top:25px;}
.pricing-head {
    background:#7d7d7d;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    position:relative;
    height:170px;
}
.pricing-head h3 {
    font-size:18px;
    font-weight:600;
    padding-top:30px;
    color:#fff;
    text-transform:uppercase;
}
.pricing-quote {
    background:#fff;
    padding:22px 0;
	text-align:center;
    color:#7d7d7d;
    font-size:45px;
    font-weight:100;
    width:140px;
    height:140px;
    border-radius:100px;
	-o-border-radius:100px;
    -webkit-border-radius:100px;
    margin:-85px auto;
    z-index:100;
    position:relative;
}
.pricing-quote:after {
    width:160px;
    height:160px;
    border-radius:100px;
	-o-border-radius:100px;
    -webkit-border-radius:100px;
    border:10px solid rgba(255,255,255,0.5);
    margin:-85px auto;
    z-index:100;
    position:absolute;
    content:"";
    left:-10px;
    top:75px;
}
.pricing-table ul {
    margin:120px 0 15px;
    padding:0;
}
.pricing-table ul li {
    margin:0 5px;
	min-height:38px;
	text-align:center;
    padding:10px 0;
}
.pricing-table ul li i {
    margin-right:10px;
}
.pricing-quote span.note {
    display:inline;
    font-size:18px;
    line-height:0.8em;
    position:relative;
    top:-18px;
}
.pricing-quote p {
    font-size:16px;
    color:#d2d2d6;
}
.pricing-quotation,.team-info {
    background:#EEEEEE;
    padding:20px 20px 35px 20px;
    margin-bottom:100px;
    display:inline-block;
    width:100%;
    text-align:center;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.pricing-quotation h3,.team-info h3 {
    font-weight:300;
}
.pricing-quotation p,.team-info p {
    margin-bottom:0px;
}
.pricing-plan,.team-info-wrap {
    position:relative;
}
.pricing-quotation:before,.team-info:before {
    background-color:#EEEEEE;
    border-color:#EEEEEE;
    border-image:none;
    border-right:1px solid #EEEEEE;
    border-style:none;
    top:-7px;
    content:"";
    display:block;
    height:14px;
    left:48%;
    position:absolute;
    transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    width: 15px;
}

.pricetable-column-wall {width:21.5%; float:left;}
.pricetable-header {height:260px;}
.pricetable-column-wall ul.features {padding:0; list-style:none; margin:0; padding:10px 0 20px; margin-bottom:10px; border-bottom:1px solid #eee;}
.pricetable-column-wall ul.features > li h6 {font-size:13px; font-weight:bold; color:#767676;}
.pricetable-column-wall ul.features > li.prem-pro {min-height:55px;}
.sub-feature {padding-left:15px; margin:0;}
.sub-feature li {padding:10px 0; list-style:none;}
.sub-feature li.rb{min-height:56px;}
.sub-feature.min-space li {padding:10px 0;}
ul.features.no-margin {margin-bottom: 14px !important;padding-bottom: 15px;}
.hide-title {display:none;}
@media (min-width: 1025px) and (max-width: 1198px) {
.pricing-table ul li {margin:0; font-size:12px;}
.pricetable-column-wall ul.features > li h6, .pricetable-column-wall ul.features > li  {font-size:12px;}
}
@media (max-width: 1024px) {
.pricetable-column-wall {display:none;}
.pricing-table {width:auto; display:block; margin:30px !Important;}
h2.hide-title {display:block !Important; font-weight:bold; text-transform:uppercase; color:#126ca0; font-size:18px;}
.pricing-table ul li{border-bottom:1px solid #ccc; padding:10px; text-align:center; min-height:inherit; margin:10px 20px !important;}
.hide-title {font-size:14px; font-weight:bold; display:block !Important;}
.hide-title span {display:block;}
.pricing-table ul li.space {border-bottom:none !Important;}
.pricing-table ul li.amount{font-size:28px;}
.pricing-table ul li.amount h6.hide-title {margin-top:10px;}
}