/***
New Timeline
***/
/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
.timeline {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 30px;
}

.timeline a.black {color:#464646;}
.timeline a.black:hover {color:#337ab7;}

.timeline:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  background: #ccc;
  top: 0px;
  bottom: 0px;
  margin-left: 75px;
}

.timeline-item + .timeline-item {
  margin: 10px 0 20px;
}

.timeline-item  {
	margin:5px 0;
	  padding: 0;
  position:relative;
	clear:both;

}

.timeline-badge {
  float: left;
  position: relative;
    width: 96px;
  height:50px;
}
.timeline-days-badge {
	 float: left;
  position: relative;
    width: 150px;
  height:50px;
}

.timeline-badge-user {
	right: 0;
    position: absolute;
    top: 8px;
}

.timeline-badge-user h4 {margin:0; font-size:24px;}

.timeline-badge-userpic img {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  vertical-align: middle !important;
}
.jobpost {display:block;}

.timeline-icon {
  width: 80px;
  height: 80px;
  background-color: #f5f6fa;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  padding-top: 30px;
  padding-left: 22px;
}

.timeline-icon i {
  font-size: 34px;
}

.timeline-body {
   display:block;
    margin-bottom: 10px;
    margin-top: 10px;
	margin-left:135px;
    padding: 10px 30px 10px 10px;
    position: relative;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.timeline-body:before, .timeline-body:after {
  content: " ";
  display: table;
}
.timeline-body:after {
  clear: both;
}

.timeline-body-arrow {
  position: absolute;
  top: 5px;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  border-color: transparent #fff transparent transparent;
}

.timeline-body-head {
  margin-bottom: 10px;
}

.timeline-body-head-caption {
  float: left;
}

.timeline-body-title {
  font-size: 16px;
  font-weight: 600;
}

.timeline-body-alerttitle {
  font-size: 16px;
  font-weight: 600;
}

.timeline-body-time {
  font-size: 11px;
  display:block;
}

.timeline-body-head-actions {
  float: right;
}

.timeline-body-head-actions .btn-group {
  margin-top: -2px;
}

.timeline-body-content {
  font-size: 14px;
  margin-top: 35px;
}

.timeline-body-img {
  margin: 5px 20px 0 0px;
}

.page-container-bg-solid .timeline:before {
  background: #f1f3fa;
}

.page-container-bg-solid .timeline-badge-userpic {
  border:2px solid #f1f3fa;
  border-radius: 50% !important;
}

.page-container-bg-solid .timeline-icon {
  background-color: #f1f3fa;
}

.page-container-bg-solid .timeline-body {
  background-color: #f1f3fa;
}

.page-container-bg-solid .timeline-body-arrow {
  border-color: transparent #f1f3fa transparent transparent;
}

@media (max-width: 768px) {
  .timeline-body-head-caption {
    width: 100%;
  }

  .timeline-body-head-actions {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .timeline:before {
    margin-left: 28px;
  }

  .timeline-badge {
    padding-right: 40px;
    width: 60px;
    height: 60px;
  }

  .timeline-badge-userpic {
    width: 60px;
  }

  .timeline-icon {
    width: 60px;
    height: 60px;
    padding-top: 23px;
    padding-left: 18px;
  }

  .timeline-icon i {
    font-size: 25px;
  }

  .timeline-body {
    margin-left: 80px;
  }

  .timeline-body-arrow {
    top: 17px;
  }
}

i.icon-server {background:url(../img/icon-server.png) no-repeat; width:36px; height:36px; margin-top:10px;}
i.icon-pack {background:url(../img/icon-pack.png) no-repeat; width:36px; height:36px; margin-top:8px;}
i.icon-client {background:url(../img/icon-client.png) no-repeat; width:36px; height:36px; margin-top:8px;}
i.icon-rank {background:url(../img/icon-rank.png) no-repeat; width:36px; height:36px; margin-top:8px;}
i.icon-rank-upgrade {background:url(../img/icon-rank-upgrade.png) no-repeat; width:36px; height:36px; margin-top:8px;}
i.icon-amount {background:url(../img/icon-amount.png) no-repeat; width:36px; height:36px; margin-top:12px;}
i.icon-ticket{background:url(../img/icon-ticket.png) no-repeat; width:36px; height:36px; margin-top:12px;}
.timeline .timeline-body-content .pack {max-width: 14%;}
.timeline-body-content p {color:#97a5a6; font-size:13px;}


.dropdown-menu.users .user-img{position:absolute; left:12px;}
.dropdown-menu.users .user-img img {width:30px;}
.dropdown-menu.users .activty-cont {margin-left:45px;}
.dropdown-menu.users li {padding:0 0 10px 12px; font-size:13px;}
.dropdown-menu.users > li > a {padding:5px 0;}
.dropdown-menu.users  {padding-top:10px;}
